name: balance_web
description: "Website for Balance:Life Ledger app"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons:
  url_launcher: ^6.2.0
  provider:

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/

  fonts:
    - family: Inter
      fonts:
        - asset: fonts/Inter_18pt-Regular.ttf
        - asset: fonts/Inter_18pt-Medium.ttf
          weight: 500
        - asset: fonts/Inter_18pt-SemiBold.ttf
          weight: 600
        - asset: fonts/Inter_18pt-Bold.ttf
          weight: 700